# target/ディレクトリ全体を無視
target/*
# ただし、warファイルは無視しない
!target/*.war

bin/*
build/*
.gradle/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode
_site/
*.css
!petclinic.css
